@mixin up($screen) {
  @media (min-width: $screen) {
    @content;
  }
}
@mixin down($screen) {
  @media (max-width: $screen) {
    @content;
  }
}
@mixin between($start, $end) {
  @media (min-width: $start) and (max-width: $end) {
    @content;
  }
}

@mixin cutByLine($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin placeholder($prop, $value) {
  &::-webkit-input-placeholder {
    /* Edge */
    #{$prop}: $value;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer */
    #{$prop}: $value;
  }

  &::placeholder {
    #{$prop}: $value;
  }
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@mixin stretched {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}
